<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 100%"></div>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom, 'light');
var app = {};
option = null;
myChart.showLoading();
var data = <%= @data.to_json %>;
(function (webkitDep) {
    myChart.hideLoading();

    option = {
        legend: {
          orient: 'vertical',
          top: 'center',
          right: 1,
          data: <%= @legend.to_json %>
        },
        series: [{
            type: 'graph',
            layout: 'force',
            animation: false,
            label: {
                normal: {
                    position: 'right',
                    formatter: '{b}'
                }
            },
            roam: true,
            focusNodeAdjacency: true,
            draggable: true,
            data: webkitDep.nodes.map(function (node, idx) {
                node.id = idx;
                return node;
            }),
            categories: webkitDep.categories,
            force: {
                //edgeLength: 0.5,
                //repulsion: 20,
                //gravity: 0.2
            },
            edges: webkitDep.links
        }]
    };

    myChart.setOption(option);
})(data);
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
       </script>
   </body>
</html>
